/* Brand Logo container */
 .top-sep {
    margin: 35px 0;
    padding: 0;
    height: 3px;
    background: #ededed;
    border-width: 0;
}
.brand-banner {
    width: 91%;
    padding: 10px;
    border: 1px solid #ededed;
    border-radius: 4px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    margin: 0 auto 20px;
}
/*
.brand-banner:hover {
	box-shadow: 1px 3px 7px #999;
}
*/
 .brand-banner .brand-logo {
    width: 100px;
    height: 100px;
    overflow: auto;
    margin: 0 auto;
    display: block;
    position: relative;
}
.brand-banner .brand-image {
    height: 100px;
    margin: 0 auto;
    display: block;
}
.brand-banner .brand-info {
    /* 	display: inline-block; */
    width: 85%;
    margin-left: 10px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.brand-banner .brand-name {
    padding: 5px 0 5px;
    clear: right;
    display: inline-block;
}
